<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">

        <% include ../static/partials/messages.ejs %>

        <h1><%= `${user.username}'s profile` %></h1>
        <h5><%= `Email: ${user.email}` %></h5>
		      <h5><%= `Role: ${user.role}` %></h5>
		      <h5><%= `Member since: ${user.createdAt}`%></h5>

        <% if(currentUser && currentUser.role == "Standard") { %>
            <h2>Upgrade to a premium membership here</h2>

            <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_idoWZDzGdwgMnipUREkgHhja"
                data-amount="1500"
                data-description="Premium Membership"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
            </form>
        <% } %>

        <% if(currentUser && currentUser.role == "Premium") { %>
            <h2>Downgrade to standard membership here</h2>

            <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
                <button type="submit" class="btn btn-primary">Downgrade Now</button>
            </form>
        <% } %>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>
